{% extends 'SKMonPremierBundle::Layout.html.twig' %}
{% block title %}{{parent()}} TP2 SLAM4 {%endblock%}

{% block body %}
{% include "SKMonPremierBundle::phrases.html.twig" with {'var1':'Symfony','var2':'2.3.3'}%}
<p>{{block('title')}}</p>
<p><h4> Le but de bien gerer l'architecture globale de ce framework</h4></p

{% endblock %}

